@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$primary: #221e1f;
$secondary: #4d4d4d;
$accent: #ffdc22;
$accent2: #f7b900;
$bg: #f2f2f2;
$dark1: #15191d;
$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 10,
  ),
  8: (
    $spacer * 15,
  ),
  9: (
    $spacer * 20,
  ),
);

@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~aos/dist/aos.css";
@import '~lightgallery/css/lightgallery.css';
@import '~lightgallery/css/lg-zoom.css';
@import '~lightgallery/scss/lightgallery.scss';
@import '~lightgallery/scss/lg-zoom.scss';

::-moz-selection {
  background: $accent;
  color: $primary;
}
::selection {
  background: $accent;
  color: $primary;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: $primary;
  transition: all 0.3s ease;

  ul {
    list-style: none;
    pading: 0;
    margin: 0;
  }
}

* {
  transition: all 0.3s ease;
  line-height: 1.1;
}

a {
  color: $primary;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

// p {
//   margin: 0;
//   padding: 0;
// }

#menu-top {
  max-height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    font-size: 0.8rem;
    display: inline-block;
    padding: 0;
    margin: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  #phone-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #logo-top {
    margin: 1rem;

    .img-fluid {
      z-index: 9999 !important;
    }

  }

  #phone-top {
    #call-us {
      font-size: 0.7rem;
      text-transform: uppercase;
      color: $secondary;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }

    #phone-number {
      font-size: 1.3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }

  #phone-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.3);

    svg {
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
  }

  #offcanvas {
  }
}

@media (max-width: 1366px) {
  #menu-top {
    #logo-top {
      margin: 0;
    }

    #menu-links {
      display: none;
    }

    #phone-section {
      display: none;
    }
  }
}

@media (min-width: 1367px) {
  #menu-top {
    #offcanvas {
      display: none;
    }
  }
}

#location {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;

  button.button-modal {
    color: $primary;
    border: none;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;

    &::after {
      content: " ";
      display: block;
      width: 100px;
      height: 3px;
      color: $accent;
      position: relative;
      top: 0;
      left: 0;
    }
  }

  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }

  ul {
    margin: 0 !important;
  }

  ul li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    margin-right: 2rem;
    line-height: 1.4 !important;
  }

  svg {
    margin: 0 1rem 0 0.3rem;
    min-width: 22px;
    min-height: 22px;
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  #location {
    ul li {
      justify-content: flex-start;
    }
  }
}

#bg-4 {
  position: relative;
  background-color: #f8f9fb;
  top: -15px;
  left: 0;
  overflow: hidden;
}

#bg-3 {
  img {
  position: relative;
  bottom: 0px;
  left: 0;
  overflow: hidden;
}
}

#bg-1 {
  position: relative;
  left: 0;
  bottom: -1px;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
}

#location {
  min-height: 55vh;
}

#home {
  h1::after {
    content: "";
    display: block;
    width: 20%;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }
}

#catalog {
  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }

  .exhibition {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      font-size: 0.9rem;
      text-transform: uppercase;
      color: $secondary;
    }
  }

  ul li {
    margin: 1rem 0;
  }
}

.product-card {
  background-color: #ffffff;
  border-radius: 6px;
  min-height: 440px;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.15);
  }

  #product-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 0.9rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 185px;

    img {
      max-width: 275px;
      max-height: 185px;
      transition: all 1s ease;

      &:hover {
        transform: scale(1.2);
        transition: all 1s ease;
        cursor: zoom-in;
      }

    }
  }

}

#home {
  min-height: 55vh;

  h1 {
    font-size: 3.5rem;
    margin: 1rem 0;
  }
}

#about,
#catalog {
  min-height: 100vh;

  h1 {
    font-size: 3.5rem;
    margin: 1rem 0;
  }
}
@media (max-width: 991px) {
  #slider {
    align-items: start;
  }
}

#about {
  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }
}

#copy-2 {
  margin: 3rem 0 1rem 0;
}

.button-primary {
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0 2rem;
  padding: 1rem 2rem;
  background-color: $accent;
  color: $primary;
  box-shadow: 0 4px 8px rgba(255, 220, 34, 0.3),
    0 5px 5px rgba(255, 220, 34, 0.22);

  &:hover {
    box-shadow: 0 8px 12px rgba(17, 17, 17, 0.15),
      0 8px 12px rgba(17, 17, 17, 0.15);
    transform: translateY(-3px);
  }
}

.button-secondary {
  border: 3px solid $primary;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: $primary;

  &:hover {
    border: 3px solid $accent;
    transform: translateX(10px);
  }

  svg {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}

.button-third {
  border: 1px solid $primary;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  color: $primary;

  &:hover {
    border: 1px solid $accent;
    transform: translateX(3px);
  }

  svg {
    font-size: 1.2rem !important;
    margin: 0 0.3rem !important;
    padding: 0;
  }
}

.text-button {
  &:hover {
    transform: translateX(10px);
  }
}

.underline {
  a {
    color: $primary;
    position: relative;
    padding-bottom: 8px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $accent;
    }
    &:before {
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}

.selected {
  font-weight: 900;
  position: relative;
  padding-bottom: 8px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $accent;
  }
  &:before {
    opacity: 1;
    transform: translateY(0) !important;
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    color: $secondary;

    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

#number {
  font-size: 3rem !important;
  font-weight: 600 !important;
  margin: 0;
}

#solutions {
  width: 100%;
  background-color: #f8f9fb;
  min-height: 40vh;

  h2 {
    letter-spacing: 0.03rem;
    margin: 0;
  }

  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }

  p {
    margin: 1rem 0 1.5rem 0;
  }
}

.sliders {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-1 {
  background-size: cover;
  color: $bg;
  border-radius: 12px;
  padding: 2rem;
  margin: 0;
  min-height: 216px;
  max-height: 216px;

  h3 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 1rem 0;
  }

}
@media (max-width: 991px) {
  .card-1 {
    margin: 0.5rem 0;
  }
}

@media (min-width: 992px) {
  #cards-top {
    .col-lg-4 {
      margin: 0;
      padding: 0;
    }
  }
}

.slick-slide {
  border-radius: 12px;

  &:hover {
    cursor: grab;
  }
}

.slick-current {
  .card-1 {
    border-radius: 12px;
    position: relative;
    right: 15px;
    top: 0;
    min-width: 460px;
    z-index: 9999 !important;
  }
}
// @media (max-width: 991px) {
//   .slick-current {
//     .card-1 {
//       min-height: 1rem;
//       border-radius: 0;
//     }
//   }
// 
//   .slick-slide {
//     h2 {
//       font-size: 1.1rem;
//     }
// 
//     p {
//       font-size: 0.8rem;
//     }
//   }
// }

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.middle {
  border-radius: 0;
}

.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 991px) {
  .left,
  .middle,
  .right {
    border-radius: 10px;
  }
}

.card {
  font-family: "Lato", sans-serif;
  background-color: #f8f9fb;
  color: $secondary;
  font-weight: 400;
  border: none;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.15);
  }
}

.card-title {
  color: $primary;
  font-weight: 600;
}

#marker {
  transition: none !important;

  svg {
    color: $accent2;
    font-size: 25px;
  }
}

#hamburger {
  button {
    border: none;
  }

  svg {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
}

#menu-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
  width: 90%;

  button {
    text-transform: uppercase;
    border: none;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    max-height: 31px;
  }

  .button-primary {
    border: none;
    max-height: 200px !important;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 1rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background-color: $accent;
    color: $primary;
    box-shadow: 0 4px 8px rgba(255, 220, 34, 0.3),
      0 5px 5px rgba(255, 220, 34, 0.22);

    &:hover {
      box-shadow: 0 8px 12px rgba(17, 17, 17, 0.15),
        0 8px 12px rgba(17, 17, 17, 0.15);
      transform: translateY(-3px);
    }
  }

  #menu-links {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      font-size: 1.2rem;
      display: block;
      padding: 0;
      margin: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  #phone-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #logo-top {
    margin: 1rem;
  }

  #phone-top {
    #call-us {
      font-size: 0.7rem;
      text-transform: uppercase;
      color: $secondary;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }

    #phone-number {
      font-size: 1.3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }

  #phone-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.3);

    svg {
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
  }
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-top,
#header-about {
  margin-top: 2rem;
}
@media (max-width: 991px) {
  #header-top,
  #header-about {
    margin-top: 1rem;
  }
}

.uber-button {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  background-color: $dark1;
  color: $bg;

  #icon {
    font-size: 20px;
    margin: 0rem;
  }

  svg {
    padding: 0;
    margin: 0 0.3rem !important;
  }

  #text {
    font-weight: 400;
    padding: 0 0.5rem;
  }
}

.waze-button {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  background-color: #33ccff;
  color: $primary;

  #icon {
    font-size: 20px;
    margin: 0rem;
  }

  svg {
    padding: 0;
    margin: 0 0.3rem !important;
  }

  #text {
    font-weight: 400;
    padding: 0 0.5rem;
  }
}

#footer {
  min-height: 45vh;
  background-color: $dark1;
  color: $bg;

  ul {
    list-style: none;
    color: $bg;
    padding: 0;
    margin: 0 0.5rem;
    font-weight: 300;
  }

  ul li {
    margin: 1rem 0;
  }

  ul li a {
    color: $bg;
    text-decoration: none;
    transition: none !important;
  }

  ul li a:hover {
    color: $accent;
    font-weight: 400;
  }

  p {
    font-size: 0.8rem;
    line-height: 2 !important;
  }

  #footer-institutional {
    font-weight: 600;
  }

  #footer-mail a {
    color: $bg;
    text-decoration: underline;
  }

  #footer-mail a:hover {
    color: $bg;
  }
}

#social-links {
  ul {
    list-style: none;
    margin: 0;
  }

  ul li {
    color: $bg;
    display: inline-block;
    padding-right: 1.5rem;
  }

  ul li:hover {
    color: $bg;
  }

  ul li a {
    color: $bg;
    font-weight: 300;
  }

  ul li a:hover {
    color: $bg;
    font-weight: 300;
  }

  svg {
    font-size: 1rem;
  }

  svg:hover {
    transform: scale(1.2);
  }
}

.embla-slide {
  overflow: hidden !important;
}

#whatsapp {
  width: 50px;
  height: 50px;
  // background-color: #25d366;
  background-color: $accent;
  border-radius: 50%;
  color: $dark1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  position: fixed;
  bottom: 30px;
  right: 20px;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.9);

  button {
    border: none;
    background: transparent;
    transition: all 0.3s ease;
  }

  svg {
    font-size: 22px;
  }
}

#whatsapp-duvidas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1rem;
  padding: 0.8rem 1rem;
  max-width: 180px;
  min-height: 45px;
  background-color: $dark1;
  color: $bg;
  font-size: 0.8rem;
  position: fixed;
  bottom: 30px;
  right: 65px;
  border-radius: 4px;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.9);

  #talk {
    color: $accent;
    font-weight: 600;
  }
}

#modal-1 {
  max-width: 350px;
  max-height: 100px;
  background-color: $accent;
  color: $dark1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1rem 2rem 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-wrap: no-wrap;
  position: fixed;
  bottom: 313px;
  right: 3%;
  z-index: 3;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.15);

  p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  svg {
    font-size: 40px;
    margin: 0 0.5rem;
    padding: 0;
  }
}

#modal-2 {
  max-width: 350px;
  max-height: 400px;
  background-color: #ffffff;
  z-index: 2;
  color: $dark1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  flex-wrap: wrap;
  position: fixed;
  bottom: 100px;
  right: 3%;
  box-shadow: 0px 10px 10px 4px rgb(0 0 0 / 0.15);

  p {
    font-size: 0.8rem;
  }

  button {
    &:focus-visible, 
    &:active {
      border: none;
    }
  }

  .wtpp-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;

    > div {
      margin: 0 0.5rem;
    }

  }

  .card-pic {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border-left: 3px solid $accent2;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 7px 15px 1px rgb(55 62 70 / 7%);
      transition: all 0.3s ease;
    }

    img {
      max-width: 45px;
      max-height: 45px;
      border-radius: 50%;
    }

    p {
      color: $secondary;
      margin: 0;
      padding: 0;
    }

    #online {
      color: #25d366;
      font-size: 0.7rem;
      font-weight: bold;
      font-style: italic;
      margin: 0 0.1rem;

      svg {
        font-size: 0.7rem;
        padding: 0;
        margin: 0 0.03rem;
      }
    }

    #offline {
      color: red;
      font-size: 0.7rem;
      font-weight: bold;
      font-style: italic;
      margin: 0 0.1rem;

      svg {
        font-size: 0.7rem;
        padding: 0;
        margin: 0 0.03rem;
      }
    }

    #wtpp-logo {
      color: #25d366;
    }

    #phone-icon {
      color: $accent2;
    }

    svg {
      font-size: 22px;
    }
  }
}

#agende {
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 !important;
}
@media (max-width: 1023px) {
  .navigation-buttons {
    justify-content: space-around;
  }
}

.footer-credits {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;

  img {
    opacity: 0.5;
  }

  img:hover {
    opacity: 1;
  }

  .one,
  .two {
    width: 100%;
    background-color: $bg;
    opacity: 0.5;
    margin: 0 1rem;
  }

  .one::after {
    content: "";
    display: block;
    height: 1px;
    color: $bg;
    position: relative;
    top: 0;
    left: 0;
  }

  .two::after {
    content: "";
    display: block;
    height: 1px;
    color: $bg;
    position: relative;
    top: 0;
    left: 0;
  }
}

.footer-credits-2 {
  background-color: $dark1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 3.5rem;
  color: $bg;

  a {
    color: $accent;
    transition: all 0.3s ease !important;
  }

  a:hover {
    text-decoration: underline;
    transition: all 0.3s ease !important;
  }

  #hidr {
    font-weight: 600;
    color: $accent;
  }
}

.footer-credits-3 {
  background-color: $dark1;
  padding-bottom: 5rem;
}

.bosta {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  background: white;
  color: black;
  padding: 1rem;
  top: 5vh;
  left: calc(50% - 15rem); 
  text-align: center;
  width: 30rem;
  height: 90vh;
  border-radius: 12px;
  z-index: 10;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.numm-1 {
  font-size: 0.7rem !important;
  font-weight: 600;
  color: $secondary;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#usina {
  background-image: url('/images/usina.png');
  background-size: cover;
}

#naval {
  background-image: url('/images/naval.png');
  background-size: cover;
}

#aviacao {
  background-image: url('/images/aviacao.png');
  background-size: cover;
}

#industrial {
  background-image: url('/images/industrial.png');
  background-size: cover;
}

#pesada {
  background-image: url('/images/automotivapesada.png');
  background-size: cover;
}

#leve {
  background-image: url('/images/automotivaleve.png');
  background-size: cover;
}

@media (max-width: 991px) {
  #embla-carousel {
    display: none;
  }
}

#mobile-carousel {
  overflow: hidden;

  .slick-track {
    padding: 1rem 2rem;
  }

}

@media (min-width: 991px) {
  #mobile-carousel {
    display: none;
  }
}

// .slick-prev:before,
// .slick-next:before {
//   color: $dark1;
// }

.product-info {
  h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 1rem 0;
    background-color: $accent;
  }

  #product-description {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $primary;
  } 

  ul {
    svg {
      font-size: 0.8rem;
      margin: 0.05rem 0;
    }
  }

  ul li {
    margin: 0.5rem 0;
  }

  .reference {
    margin: 0 0.3rem;
  }

  .underline--magical {
    margin: 0 0.3rem;
    color: $dark1;
    background-image: linear-gradient(120deg, $accent 0%, $accent2 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
  }
}

.gallery-item:hover {
  cursor: zoom-in;
}
